annoy==1.17.3
datasets==2.16.1
fastapi==0.109.2
huggingface-hub==0.20.3
pandas==2.0.1
pydantic==2.6.1
pydantic_core==2.16.2
regex==2023.10.3
scikit-learn==1.2.2
scipy==1.10.0
tokenizers==0.15.1
torch==2.2.0+cu121
torchdata==0.7.1
torchmetrics==0.11.4
torchtext==0.16.2
torchvision==0.17.0+cu121
tqdm==4.65.0
transformers==4.37.2
uvicorn==0.27.1
sentence-transformers==2.3.1
